<div class="form-group" [formGroup]="form">
    <label [attr.for]="id">{{fieldInfo.caption}}</label>
    <div [ngSwitch]="fieldInfo.type">
       <input *ngSwitchCase="'bool'" type="checkbox" [id]="id" [formControlName]="id"
       [value]="fieldInfo.defaultValue" >
       <input *ngSwitchDefault type="text" [id]="id" [formControlName]="id"
       [value]="fieldInfo.defaultValue" class="form-control">
    </div>
    <div class="errMessage" *ngIf="!isValid">{{fieldInfo.validationMessage}}</div>
 </div>